debian/*.debhelper
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files


debian/libqt5xdg3/
debian/libqt5xdg-dev/
debian/libqt5xdgiconloader-dev/
debian/libqt5xdgiconloader3/
debian/qtxdg-dev-tools/
debian/tmp
